_wandb:
    value:
        cli_version: 0.25.0
        e:
            nli1fkk40xw9381evo6xs6jtsd6hgws6:
                args:
                    - seed=2
                    - model=LSTM
                    - dataset=psMNIST
                    - use_wandb=true
                    - group_name=LSTM
                codePath: main.py
                codePathLocal: main.py
                cpu_count: 48
                cpu_count_logical: 48
                cudaVersion: "12.5"
                disk:
                    /:
                        total: "405099057152"
                        used: "6935285760"
                email: singfor7012@gmail.com
                executable: /home1/aiphw227/miniconda3/envs/rnn/bin/python
                gpu: NVIDIA GeForce RTX 3090
                gpu_count: 1
                gpu_nvidia:
                    - architecture: Ampere
                      cudaCores: 10496
                      memoryTotal: "25769803776"
                      name: NVIDIA GeForce RTX 3090
                      uuid: GPU-849f2931-a869-5704-3b6f-dfffb02b10d8
                host: n003.hpc
                memory:
                    total: "810198114304"
                os: Linux-4.18.0-553.5.1.el8_10.x86_64-x86_64-with-glibc2.28
                program: /gpfs/home1/aiphw227/Delay_RNN/code/main.py
                python: CPython 3.11.14
                root: /gpfs/home1/aiphw227/Delay_RNN/code
                slurm:
                    cluster_name: cluster
                    conf: /var/spool/slurmd/conf-cache/slurm.conf
                    cpu_bind: quiet,mask_cpu:0xFFF000FF0000
                    cpu_bind_list: "0xFFF000FF0000"
                    cpu_bind_type: 'mask_cpu:'
                    cpu_bind_verbose: quiet
                    cpus_on_node: "20"
                    cpus_per_task: "20"
                    gpus_on_node: "1"
                    gtids: "0"
                    job_account: uos
                    job_cpus_per_node: "20"
                    job_end_time: "1772123218"
                    job_gid: "100"
                    job_group: users
                    job_id: "545322"
                    job_name: bash
                    job_nodelist: n003
                    job_num_nodes: "1"
                    job_partition: gpu1
                    job_qos: node10_cpu640
                    job_start_time: "1771950418"
                    job_uid: "1291"
                    job_user: aiphw227
                    jobid: "545322"
                    launch_node_ipaddr: 192.168.140.5
                    localid: "0"
                    nnodes: "1"
                    nodeid: "0"
                    nodelist: n003
                    nprocs: "1"
                    ntasks: "1"
                    prio_process: "0"
                    procid: "0"
                    pty_port: "39077"
                    pty_win_col: "285"
                    pty_win_row: "39"
                    srun_comm_host: 192.168.140.5
                    srun_comm_port: "32841"
                    step_gpus: "2"
                    step_id: "0"
                    step_launcher_port: "32841"
                    step_nodelist: n003
                    step_num_nodes: "1"
                    step_num_tasks: "1"
                    step_tasks_per_node: "1"
                    stepid: "0"
                    submit_dir: /gpfs/home1/aiphw227
                    submit_host: gate2.hpc
                    task_pid: "1579791"
                    tasks_per_node: "1"
                    topology_addr: n003
                    topology_addr_pattern: node
                    tres_per_task: cpu:20
                    umask: "0022"
                startedAt: "2026-02-24T16:34:13.392773Z"
                writerId: nli1fkk40xw9381evo6xs6jtsd6hgws6
        m: []
        python_version: 3.11.14
        t:
            "1":
                - 1
                - 41
                - 50
                - 51
            "2":
                - 1
                - 41
                - 50
                - 51
            "3":
                - 13
                - 14
                - 16
            "4": 3.11.14
            "5": 0.25.0
            "12": 0.25.0
            "13": linux-x86_64
batch_size:
    value: 128
dataset:
    value:
        _target_: datasets.sMNIST.SequentialMNIST
        input_size: 1
        permute: true
group_name:
    value: LSTM
lr:
    value: 0.001
model:
    value:
        _target_: models.LSTM.LSTM
model_args:
    value:
        hidden_size: 128
        num_layers: 1
num_epochs:
    value: 50
num_workers:
    value: 4
seed:
    value: 2
use_lr_scheduler:
    value: true
use_wandb:
    value: true
